<p id="notice"><%= notice %></p>

<h1>Listing Produkts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produkts.each do |produkt| %>
      <tr>
        <td><%= produkt.title %></td>
        <td><%= produkt.price %></td>
        <td><%= link_to 'Show', produkt %></td>
        <td><%= link_to 'Edit', edit_produkt_path(produkt) %></td>
        <td><%= link_to 'Destroy', produkt, method: :delete, data: { confirm: 'Are you sure?' }%>
        <td>
          <%= form_tag chickout.items_path, method: :post do %>
            <%= hidden_field_tag 'product_id', produkt.id %>
            <%= number_field_tag 'quantity', '1', id: "product_quantity" %>
            <%= submit_tag t(:add_to_cart), id: "add_to_cart" %>
          <% end %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produkt', new_produkt_path %>
